# Pandas

In [36]:
import pandas as pd

In [37]:
print(pd.__version__)

1.5.3

In [38]:
A = pd.Series([2,3,4, 5], index = ['a','b','c','d'])
print(A)
print(type(A))

a    2
b    3
c    4
d    5
dtype: int64
<class 'pandas.core.series.Series'>

In [39]:
A.values

array([2, 3, 4, 5], dtype=int64)

In [40]:
A.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [41]:
A['a']

2

In [42]:
A['a':'c']

a    2
b    3
c    4
dtype: int64

In [43]:
dict = {'a':1, 'b':2, 'c':3, 'd':4}
series = pd.Series(dict)
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [44]:
series['a']

1

In [45]:
series[0:2]

a    1
b    2
dtype: int64

In [46]:
df = pd.DataFrame({'Marks':A, 'Grades':series})

In [47]:
df

   Marks  Grades
a      2       1
b      3       2
c      4       3
d      5       4

In [48]:
df.T

        a  b  c  d
Marks   2  3  4  5
Grades  1  2  3  4

In [49]:
df

   Marks  Grades
a      2       1
b      3       2
c      4       3
d      5       4

In [50]:
df.values

array([[2, 1],
       [3, 2],
       [4, 3],
       [5, 4]], dtype=int64)

In [51]:
df.values[2,0]

4

In [52]:
df.columns

Index(['Marks', 'Grades'], dtype='object')

In [53]:
df['Percent'] = (df['Marks']/5)*100

In [54]:
df

   Marks  Grades  Percent
a      2       1     40.0
b      3       2     60.0
c      4       3     80.0
d      5       4    100.0

In [57]:
# del df['percent']

In [58]:
df

   Marks  Grades  Percent
a      2       1     40.0
b      3       2     60.0
c      4       3     80.0
d      5       4    100.0

In [59]:
G = df[df['Marks']>3]

In [60]:
G

   Marks  Grades  Percent
c      4       3     80.0
d      5       4    100.0

In [61]:
df1 = pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':5}])

In [62]:
df1

     a  b    c
0  1.0  2  NaN
1  NaN  3  5.0

In [63]:
df1.fillna(0)  # fill with any value

     a  b    c
0  1.0  2  0.0
1  0.0  3  5.0

In [64]:
df1.dropna()  # drops all records with na

Empty DataFrame
Columns: [a, b, c]
Index: []

In [65]:
df1

     a  b    c
0  1.0  2  NaN
1  NaN  3  5.0

In [154]:
data = pd.Series(['a','b','c','d'], index = [1,3,5,10])

In [155]:
data

1     a
3     b
5     c
10    d
dtype: object

In [156]:
data[1]

'a'

In [159]:
data[1:3]

3    b
5    c
dtype: object

In [163]:
data.loc[1:10]  # explicit indices

1     a
3     b
5     c
10    d
dtype: object

In [164]:
data.iloc[1:4]  # implicit indices

3     b
5     c
10    d
dtype: object

In [72]:
df.iloc[2,:]

Marks       4.0
Grades      3.0
Percent    80.0
Name: c, dtype: float64

In [73]:
df.loc['c']  # explicit indices

Marks       4.0
Grades      3.0
Percent    80.0
Name: c, dtype: float64

In [74]:
df

   Marks  Grades  Percent
a      2       1     40.0
b      3       2     60.0
c      4       3     80.0
d      5       4    100.0

In [75]:
df.iloc[::-1,:]

   Marks  Grades  Percent
d      5       4    100.0
c      4       3     80.0
b      3       2     60.0
a      2       1     40.0

# Covid data using numpy

In [226]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [227]:
from sklearn.impute import SimpleImputer

In [228]:
import os
os.getcwd()

'C:\\Users\\Yaseed\\Desktop\\GitHub\\python-code-datasets\\DataScience_help'

In [229]:
df = pd.read_csv('C:\\Users\\Yaseed\\Desktop\\GitHub\\python-code-datasets\\DataScience_help\\covid_19_data.csv')

In [230]:
df.head(50)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.00,0.00,0.00
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.00,0.00,0.00
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.00,0.00,0.00
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.00,0.00,0.00
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.00,0.00,0.00
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.00,0.00,0.00
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.00,0.00,0.00
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.00,0.00,0.00
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.00,0.00,0.00
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.00,0.00,0.00
10,11,01/22/2020,Heilongjiang,Mainland China,1/22/2020 17:00,0.00,0.00,0.00
11,12,01/22/2020,Henan,Mainland China,1/22/2020 17:00,5.00,0.00,0.00
12,13,01/22/2020,Hong Kong,Hong Kong,1/22/2020 17:00,0.00,0.00,0.00
13,14,01/22/2020,Hubei,Mainland China,1/22/2020 17:00,444.00,17.00,28.00
14,15,01/22/2020,Hunan,Mainland China,1/22/2020 17:00,4.00,0.00,0.00
15,16,01/22/2020,Inner Mongolia,Mainland China,1/22/2020 17:00,0.00,0.00,0.00
16,17,01/22/2020,Jiangsu,Mainland China,1/22/2020 17:00,1.00,0.00,0.00
17,18,01/22/2020,Jiangxi,Mainland China,1/22/2020 17:00,2.00,0.00,0.00
18,19,01/22/2020,Jilin,Mainland China,1/22/2020 17:00,0.00,0.00,0.00
19,20,01/22/2020,Liaoning,Mainland China,1/22/2020 17:00,2.00,0.00,0.00
20,21,01/22/2020,Macau,Macau,1/22/2020 17:00,1.00,0.00,0.00
21,22,01/22/2020,Ningxia,Mainland China,1/22/2020 17:00,1.00,0.00,0.00
22,23,01/22/2020,Qinghai,Mainland China,1/22/2020 17:00,0.00,0.00,0.00
23,24,01/22/2020,Shaanxi,Mainland China,1/22/2020 17:00,0.00,0.00,0.00
24,25,01/22/2020,Shandong,Mainland China,1/22/2020 17:00,2.00,0.00,0.00
25,26,01/22/2020,Shanghai,Mainland China,1/22/2020 17:00,9.00,0.00,0.00
26,27,01/22/2020,Shanxi,Mainland China,1/22/2020 17:00,1.00,0.00,0.00
27,28,01/22/2020,Sichuan,Mainland China,1/22/2020 17:00,5.00,0.00,0.00
28,29,01/22/2020,Taiwan,Taiwan,1/22/2020 17:00,1.00,0.00,0.00
29,30,01/22/2020,Tianjin,Mainland China,1/22/2020 17:00,4.00,0.00,0.00
30,31,01/22/2020,Tibet,Mainland China,1/22/2020 17:00,0.00,0.00,0.00
31,32,01/22/2020,Washington,US,1/22/2020 17:00,1.00,0.00,0.00
32,33,01/22/2020,Xinjiang,Mainland China,1/22/2020 17:00,0.00,0.00,0.00
33,34,01/22/2020,Yunnan,Mainland China,1/22/2020 17:00,1.00,0.00,0.00
34,35,01/22/2020,Zhejiang,Mainland China,1/22/2020 17:00,10.00,0.00,0.00
35,36,01/22/2020,NaN,Japan,1/22/2020 17:00,2.00,0.00,0.00
36,37,01/22/2020,NaN,Thailand,1/22/2020 17:00,4.00,0.00,2.00
37,38,01/22/2020,NaN,South Korea,1/22/2020 17:00,1.00,0.00,0.00
38,39,01/22/2020,Unknown,China,1/22/2020 17:00,0.00,0.00,0.00
39,40,01/22/2020,NaN,Kiribati,1/22/2020 17:00,0.00,0.00,0.00
40,41,01/23/2020,Anhui,Mainland China,1/23/20 17:00,9.00,0.00,0.00
41,42,01/23/2020,Beijing,Mainland China,1/23/20 17:00,22.00,0.00,0.00
42,43,01/23/2020,Chongqing,Mainland China,1/23/20 17:00,9.00,0.00,0.00
43,44,01/23/2020,Fujian,Mainland China,1/23/20 17:00,5.00,0.00,0.00
44,45,01/23/2020,Gansu,Mainland China,1/23/20 17:00,2.00,0.00,0.00
45,46,01/23/2020,Guangdong,Mainland China,1/23/20 17:00,32.00,0.00,2.00
46,47,01/23/2020,Guangxi,Mainland China,1/23/20 17:00,5.00,0.00,0.00
47,48,01/23/2020,Guizhou,Mainland China,1/23/20 17:00,3.00,0.00,0.00
48,49,01/23/2020,Hainan,Mainland China,1/23/20 17:00,5.00,0.00,0.00
49,50,01/23/2020,Hubei,Mainland China,1/23/20 17:00,444.00,17.00,28.00

In [231]:
df.drop(['SNo', 'Last Update'], axis=1, inplace=True) # do on columns and reflect on df

In [232]:
df.head()

  ObservationDate Province/State  Country/Region  Confirmed  Deaths  Recovered
0      01/22/2020          Anhui  Mainland China       1.00    0.00       0.00
1      01/22/2020        Beijing  Mainland China      14.00    0.00       0.00
2      01/22/2020      Chongqing  Mainland China       6.00    0.00       0.00
3      01/22/2020         Fujian  Mainland China       1.00    0.00       0.00
4      01/22/2020          Gansu  Mainland China       0.00    0.00       0.00

In [233]:
df.rename(columns={'ObservationDate': 'Date', 'Province/State': 'Province', 'Country/Region': 'Country'}, inplace = True)

In [234]:
df.head()

         Date   Province         Country  Confirmed  Deaths  Recovered
0  01/22/2020      Anhui  Mainland China       1.00    0.00       0.00
1  01/22/2020    Beijing  Mainland China      14.00    0.00       0.00
2  01/22/2020  Chongqing  Mainland China       6.00    0.00       0.00
3  01/22/2020     Fujian  Mainland China       1.00    0.00       0.00
4  01/22/2020      Gansu  Mainland China       0.00    0.00       0.00

In [235]:
df['Date'] = pd.to_datetime(df['Date'])  # yyyy-mm-dd

In [236]:
df.head()

        Date   Province         Country  Confirmed  Deaths  Recovered
0 2020-01-22      Anhui  Mainland China       1.00    0.00       0.00
1 2020-01-22    Beijing  Mainland China      14.00    0.00       0.00
2 2020-01-22  Chongqing  Mainland China       6.00    0.00       0.00
3 2020-01-22     Fujian  Mainland China       1.00    0.00       0.00
4 2020-01-22      Gansu  Mainland China       0.00    0.00       0.00

In [237]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)
# pd.reset_option('display.float_format')

In [238]:
df.describe()

       Confirmed    Deaths  Recovered
count  306429.00 306429.00  306429.00
mean    85670.91   2036.40   50420.29
std    277551.60   6410.94  201512.45
min   -302844.00   -178.00 -854405.00
25%      1042.00     13.00      11.00
50%     10375.00    192.00    1751.00
75%     50752.00   1322.00   20270.00
max   5863138.00 112385.00 6399531.00

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       306429 non-null  datetime64[ns]
 1   Province   228329 non-null  object
 2   Country    306429 non-null  object
 3   Confirmed  306429 non-null  float64
 4   Deaths     306429 non-null  float64
 5   Recovered  306429 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 14.0+ MB

In [240]:
mi = min(df['Confirmed'])
c = np.array(df['Confirmed'])
ind = np.argwhere(c == mi)[0][0]
print(ind)

147524

In [241]:
df.loc[ind]

Date         2020-11-02 00:00:00
Province                 Unknown
Country                 Colombia
Confirmed             -302844.00
Deaths                      0.00
Recovered                   0.00
Name: 147524, dtype: object

In [242]:
df = df.fillna('NA')

In [243]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       306429 non-null  datetime64[ns]
 1   Province   306429 non-null  object
 2   Country    306429 non-null  object
 3   Confirmed  306429 non-null  float64
 4   Deaths     306429 non-null  float64
 5   Recovered  306429 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 14.0+ MB

In [244]:
df.head(10)

        Date   Province         Country  Confirmed  Deaths  Recovered
0 2020-01-22      Anhui  Mainland China       1.00    0.00       0.00
1 2020-01-22    Beijing  Mainland China      14.00    0.00       0.00
2 2020-01-22  Chongqing  Mainland China       6.00    0.00       0.00
3 2020-01-22     Fujian  Mainland China       1.00    0.00       0.00
4 2020-01-22      Gansu  Mainland China       0.00    0.00       0.00
5 2020-01-22  Guangdong  Mainland China      26.00    0.00       0.00
6 2020-01-22    Guangxi  Mainland China       2.00    0.00       0.00
7 2020-01-22    Guizhou  Mainland China       1.00    0.00       0.00
8 2020-01-22     Hainan  Mainland China       4.00    0.00       0.00
9 2020-01-22      Hebei  Mainland China       1.00    0.00       0.00

In [245]:
df2 = df.groupby('Country')[['Country', 'Confirmed', 'Deaths', 'Recovered']].sum(numeric_only = True).reset_index()
df2

                            Country   Confirmed    Deaths   Recovered
0                        Azerbaijan        1.00      0.00        0.00
1                   ('St. Martin',)        2.00      0.00        0.00
2                       Afghanistan 17026442.00 669075.00 13464399.00
3                           Albania 19768869.00 375955.00 13945256.00
4                           Algeria 27684358.00 834464.00 18959299.00
..                              ...         ...       ...         ...
224              West Bank and Gaza 41819444.00 440378.00 37003116.00
225                           Yemen   962066.00 237613.00   506523.00
226                          Zambia 13493953.00 205990.00 12625626.00
227                        Zimbabwe  6484581.00 237234.00  5594887.00
228  occupied Palestinian territory       25.00      0.00        0.00

[229 rows x 4 columns]

In [246]:
df2 = df.groupby(['Country','Date'])[['Country', 'Date', 'Confirmed', 'Deaths', 'Recovered']].sum(numeric_only = True).reset_index()
df2

                              Country       Date  Confirmed  Deaths  Recovered
0                          Azerbaijan 2020-02-28       1.00    0.00       0.00
1                     ('St. Martin',) 2020-03-10       2.00    0.00       0.00
2                         Afghanistan 2020-02-24       1.00    0.00       0.00
3                         Afghanistan 2020-02-25       1.00    0.00       0.00
4                         Afghanistan 2020-02-26       1.00    0.00       0.00
...                               ...        ...        ...     ...        ...
87276  occupied Palestinian territory 2020-03-12       0.00    0.00       0.00
87277  occupied Palestinian territory 2020-03-14       0.00    0.00       0.00
87278  occupied Palestinian territory 2020-03-15       0.00    0.00       0.00
87279  occupied Palestinian territory 2020-03-16       0.00    0.00       0.00
87280  occupied Palestinian territory 2020-03-17       0.00    0.00       0.00

[87281 rows x 5 columns]

In [247]:
df3 = df2[df2['Confirmed']>100]

In [210]:
df3

           Country       Date  Confirmed  Deaths  Recovered
35     Afghanistan 2020-03-28     107.00    4.00       2.00
36     Afghanistan 2020-03-29     118.00    4.00       2.00
37     Afghanistan 2020-03-30     146.00    4.00       2.00
38     Afghanistan 2020-03-31     175.00    4.00       5.00
39     Afghanistan 2020-04-01     197.00    4.00       5.00
...            ...        ...        ...     ...        ...
87269     Zimbabwe 2021-05-25   38706.00 1587.00   36517.00
87270     Zimbabwe 2021-05-26   38819.00 1589.00   36531.00
87271     Zimbabwe 2021-05-27   38854.00 1592.00   36541.00
87272     Zimbabwe 2021-05-28   38918.00 1592.00   36563.00
87273     Zimbabwe 2021-05-29   38933.00 1594.00   36578.00

[75055 rows x 5 columns]